* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
header {
  position: fixed;
  top: 0;
  z-index: 999;
  min-width: 100vw;
  display: flex;
  background-color: rgb(94, 30, 66);
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6b1b1;
}
.navbar {
  min-width: 100vw;
  list-style: none;
  display: flex;

  min-height: 4rem;
  justify-content: space-between;
  align-items: center;

  z-index: 999;
}
.emart_logo {
  border: 0;
  color: white;
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  letter-spacing: 0.01em;
}
.emart_logo_star {
  height: 45px;
  vertical-align: top;
}
.logo_container {
  margin-left: 4%;
}
.action_bar {
  margin-right: 0%;
}
.nav_bar {
  margin-top: 5rem;
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}
.nav_bar a {
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 0;
  border-bottom: 5px solid #ffffff;
}
.nav_bar a:hover {
  border-bottom: 4px solid #f54e77;
}

.nav_bar a sup {
  color: #ff3f6c;
  font-size: 10px;
}

.search_bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}
.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;

  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}
.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}

.action_bar {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
}

.action_container {
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}

.bag_item_count {
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -44px;
  font-weight: 700;
  cursor: pointer;
}

#profiles {
  position: relative;
  display: inline-block;
}

.profile-container {
  position: relative;
  display: flex;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 21%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 0.5s ease;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu a {
  text-decoration: none;
  color: #333;
  display: block;
}

.profile-container:hover .dropdown-menu {
  display: block;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    transform: translatey(-10vh) scale(0.1);

    opacity: 0;
  }
  to {
    transform: translatey(5vh) scale(1);
    opacity: 1;
  }
}

.mainu_items {
  display: none;
}
.nav_mainu:hover {
  .mainu_items {
    display: flex;
    overflow: auto;
  }
}

/* Main section */
.banner_container {
  margin: 40px 0;
}
.banner_image {
  width: 100%;
}

.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category-items {
  width: 80%;
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sale_item {
  width: 250px;
}

.carousel_bar {
  padding-top: 6%;
}
.carousel_img {
  /* padding-top: 5rem; */

  width: 100%;

  margin: auto;
  display: block;
  /* position: absolute; */
  inset: 0px;
  padding: inherit;
  object-fit:cover;
  
  /* opacity: 0; */
  aspect-ratio: 211 / 35;
}
.footer_container {
  padding: 30px 0px 40px 0px;
  background: rgb(33, 33, 33);

  display: flex;
  justify-content: space-evenly;
}

.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_column h3 {
  color: #8b8b8b;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer_column a {
  color: #fdfdfd;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.copyright {
  color: #94969f;
  background: rgb(33, 33, 33);
  text-align: center;
  padding: 15px;
}

/* objective main */
.main {
  padding: 1rem;
}
.outer_container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  align-items: center;
}
.product_container {
  background-color: white;
  transition: all 0.2s;
  margin: 1%;
  padding: 3% 3%;
  min-width: 20rem;
  max-width: 20rem;
}
.product_container:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.486);
  border: solid rgba(0, 0, 0, 0.363) 0.1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.product_image {
  border-radius: 10%;
  position: relative;
  object-fit: cover;
  transition: all 0.2s;
}

.product_image:hover {
  transform: scale(1.1);
  overflow: visible;
  border-radius: 10%;
  height: max-content;
}
.product_name {
  padding-top: 1.5rem;

  font-size: medium;
  font-weight: 600;
  font-family: inherit;
}

.product_subname {
  font-family: inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
  color: #bdbdbd;
}
.product_rate {
  color: #388e3c;
  font-size: 13px;
  letter-spacing: -0.2px;
  font-weight: 500;
}

.product_discount {
  display: inline-block;
}

.p_price {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}
.p_opreice {
  text-decoration: line-through;
  font-size: 13px;
  color: #878787;
}
.P_disc {
  display: inline-block;
  font-size: 17px;
}
