* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.cotainer_body {
  height: 100vh;
  width: 100vw;

  display: grid;
  /* grid-template-columns: 100vw 0rem 0rem; */
  grid-template-rows: 4rem auto 20rem;
  overflow: auto;
}
.container {
  border: 1px solid gray;
}

/* hader */
.header {
  max-height: 4rem;
  /* line-height: 5rem; */

  grid-column-start: 1;
  grid-column-end: 3;
}
.navbar {
  position: fixed;
  background-color: rgb(94, 30, 66);
  z-index: 999;

  top: 0;
  min-width: 100vw;

  list-style: none;
  display: flex;

  min-height: 4rem;
  justify-content: space-between;
  align-items: center;
}

.emart_logo {
  /* padding: 1rem; */
  border: 0;
  color: white;
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  letter-spacing: 0.01em;
}
.emart_logo_star {
  height: 45px;
  vertical-align: top;
}
.action_container {
  display: flex;
  color: rgb(219, 219, 219);
  flex-direction: column;
  align-items: center;
  text-align: center;

  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* .action_container:hover{
   
   
    
 
    background: rgb(0,82,161);
    border-radius: 15%;
    
    color: #000;

} */
.bag_item_count {
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -44px;
  font-weight: 700;
  cursor: pointer;
}
.action_bar {
  margin-right: 0%;
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
}
.search_bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}
.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;

  background-color: #f5f5f6;
  color: #282c3f;
  font-weight: 300;
  border-radius: 4px 0 0 4px;
}
.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  width: 25rem;
  border: 0;
  border-radius: 0 4px 4px 0;
}
.logo_container {
  margin-left: 4%;
}

/* objective main */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 243, 246);
  border: 0;

  grid-column-start: 1;
  grid-column-end: 3;
}
.inside_min {
  display: flex;
  flex-direction: column;
  background-color: #fffdfdb2;
  width: 80%;
}
.item_obj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.item_image {
  padding: 1rem;
  position: sticky;
  top: 4rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 41.66%;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.pimg {
  padding: 2rem;
  border-radius: 3rem;
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.item_butn {
  display: flex;
}
.styled {
  border: 0;
  /*  line-height:2rem;   */
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0;
  color: #fff;
  font-weight: 600;
  font-size: larger;
  text-shadow: 1px 1px 1px #000;
  border-radius: 3px;

  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);

  margin: 0 0.4em;
  cursor: pointer;
  height: 4rem;
  width: 100%;
}

.item_btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 159, 0);
}

.item_btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 100, 27);
}

.styled:hover {
  background-color: rgba(164, 65, 4, 0.836);
  border-radius: 0.5rem;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.item_details {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 66.66%;
}

.details {
  width: 100%;
  border-bottom: 1px solid rgba(192, 190, 190, 0.68);
  padding: 10px 0;
}
.dth {
  color: rgb(166, 135, 135);
}
.item_name {
  text-align: justify;
  padding: 0.3rem;
  font-size: large;
  font-weight: 600;
  font-family: inherit;
}
.item_subname {
  padding: 0.3rem;
  text-align: justify;
  font-family: inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 14px;
  color: #db5e5e;
}

.item_price {
  text-align: justify;
  display: inline-block;
  font-size: larger;
}
.p_price {
  display: inline-block;
  font-size: 16px;
  padding: 0.3rem;

  font-size: xx-large;
  font-weight: 500;
  color: #212121;
}
.p_opreice {
  text-decoration: line-through;
  font-size: 14px;
  padding: 0.3rem;

  color: #878787;
}
.P_disc {
  color: rgb(20, 190, 73);
  display: inline-block;
  margin-left: 8px;
}
.item_simge {
  display: flex;
  justify-content: space-aroun;
  /* overflow: hidden; */
}
.spimg {
  padding: 0.5rem;
  object-fit: cover;
  height: 100%;
  width: 100%;
}



.item_discount {
  display: flex;
  flex-direction: column;
}
.item_discount > p > a {
  text-decoration: none;
  color: rgb(40, 116, 240);
}
.item_discount > p {
  padding: 0.5rem;
}

#rating {
  color: white;
  background-color: rgb(56, 142, 60);
  padding: 0 5px;
  border-radius: 3px;
}

.simlar_item {
  align-self: flex-end;
  display: flex;
  line-height: 2rem;

  padding: 2rem;
  height: 100%;
  width: 100vw;
}
.simlar_product {
  border: 1px solid black;
  /* height: 100%; */
  height: 100%;
  width: 100%;
}
.simlar_product > img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

/* foootor */
.footer {
  /* max-height: 20rem; */
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer_container {
  padding: 30px 0px 40px 0px;
  background: rgb(33, 33, 33);

  display: flex;
  justify-content: space-evenly;
}

.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_column h3 {
  color: #8b8b8b;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer_column a {
  color: #fdfdfd;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.copyright {
  color: #94969f;
  background: rgb(33, 33, 33);
  text-align: center;
  padding: 15px;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .item_name {
    padding: 0.2rem;
    font-size: x-large;
  }
}

@media screen and (max-width: 701px) and (orientation: landscape) {
  .styled {
    font-size: small;

    height: 2rem;
    width: 100%;
  }

  .item_image {
    width: 50.66%;
  }
}
