<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/user/css/orderplace.css">
    <title>Create Order</title>
</head>
<body>

<div class="confirmation-container">
    <h2>Your Order Placed Successfully!</h2>
    <p>Thank you for shopping with us. Your order is on its way to your destination.</p>
    <a href="/home" onclick="returnToHomePage()">Return to Home Page</a>
</div>

</body>
</html>
